@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;500;700&display=swap');

.cabecalho{
    font-family: 'Playpen Sans', cursive;
    font-weight: 300;
}

.cabecalho__azul{
    background-color: #120a8f;
}